main {
  margin: 5rem 0 5rem 0;
}

.container-my-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-my-info figure img {
  border-radius: 15px;
}
.container-my-info ul {
  list-style: none;
}
@media screen and (max-width: 500px) {
  .container-my-info {
    flex-direction: column;
  }
  .container-my-info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  main {
    margin: 1rem 0 5rem 0;
  }
}

.container-about-me {
  margin: 0 20% 0 20%;
  transition: .7s ease-in-out;
}
@media screen and (max-width: 680px) {
  .container-about-me {
    margin: 0 5% 0 5%;
  }
}