/* main content */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.main--articles {
  margin: 50px auto;  
}
.main--articles h2{
  margin: 25px auto;
}
.main--articles--section {
  margin: 20px auto;
}
.main--articles--section h3{
  margin: 10px auto;
}

.main--formc {
  margin: 50px auto;
}
.main--formc--form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main--formc--form input {
  width: 300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
}
.main--formc--form textarea {
  width: 300px;
  padding: 5px;
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
}
.main--formc--form button {
  cursor: pointer;
  padding: 5px;
  width: 80px;
  background-color: aquamarine;
  border: 3px solid aquamarine;
  border-radius: 5px;
  transition: .3s ease-in-out;
}
.main--formc--form button:hover {
  background-color: rgb(20, 153, 109);
  border: 3px solid rgb(20, 153, 109);
  color: white;
}
